<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Scientific Calculator Regression Suite"
       parallel="classes"
       thread-count="4">

    <test name="All Calculator Tests">

        <classes>
            <class name="testcases.BasicOperationsTest"/>
            <!-- <class name="testcases.ScientificOperationsTest"/>
            <class name="testcases.NegativeScenariosTest"/>
           <class name="testcases.BoundaryValueTest"/>  -->
        </classes>

    </test>

</suite>